section.manual
  p: a(href="/manual") 返回
  h1 规则
  p 请把握最低限度的游戏规则，以免给其他参加者造成不必要的困扰。
  
  h2 游戏背景
  p <b>人狼</b>装扮成人类的样子潜入了某个村子。每天夜里<b>人狼</b>都会袭击村人。
  p 村人们由于不知道人狼是谁，为了铲除人狼，每天都会将一个被认为是人狼的人处刑杀死。
  
  h2 游戏概要
  p 登场的村人们全员都是<b>参加者</b>。参加者都是某个村子的一员。替身君（后述）以外全员不是NPC。
  p 参加者分别从属于两个（或更多）<b>阵营</b>（队伍），以阵营为单位追求胜利。阵营主要由<b>村人阵营</b>与<b>人狼阵营</b>组成，根据情况也可能会有<b>妖狐</b>这样的第三阵营。村人们不知道彼此的真正身份，不知道谁是敌人，谁是同伴。能够确定无误的只有自己的立场。
  p 参加者们被设定为以村人和人狼的<b>职业</b>（后述）参与游戏，游戏开始时参加者将被分配各种职业。被分配为<b>人狼</b>与<b>狂人</b>将属于人狼阵营。游戏开始后即将得知自己的职业和自己所属的阵营，向着本阵营获得胜利的目标前进吧。
  h2 胜利条件
  p 通过处刑将全部人狼处死后<b>村人阵营</b>即获得胜利。所以村人阵营的目的是按照这个目标将人狼全灭。
  p 人狼在一对一的情况下能够毫无疑问地捕食村民，如果村人的人数很多这就办不到了。通过减少村人的人数，把村人的人数减少为与人狼相同或更少，人狼们就能够一对一的把村人全部捕食。这就是<b>人狼阵营</b>的胜利。人狼阵营的目的是，成功的躲过村人对人狼的处刑，并减少村人的人数。
  p 此外，第三阵营的<b>妖狐</b>存在时，如果村人或人狼的一方达成了胜利条件，而此时妖狐还活着，妖狐将会从旁夺取胜利的果实。因此，妖狐的目的是不择手段的活下去。
  p 妖狐存在的时候，村人阵营除了人狼也不得不将妖狐全灭。人狼阵营也是同样。
  
  h2 游戏的进行
  p 游戏以<b>昼</b>与<b>夜</b>为单位进行。
  p 游戏以<b>第一天夜里</b>一名村人被人狼袭击<b>这一事件的发生</b>作为一场游戏的开端。
  
  p 在夜间，<b>人狼</b>能够相互对话，<b>能力者</b>（后述）能够发动能力。然后，夜间人狼们进行商议（人狼以外不能得知谈话的内容），袭杀一名村人（被杀的人将在第二天早上被发现）。
  p 经过了一定得时间之后，夜晚结束，变为<b>第二天白天</b>。
  p 在白天里村子里的所有人进行商议，并举行向怀疑为人狼的人投票的<b>处刑投票</b>活动。这个投票的内容是一人一票向村子里的某人投票，得票最多的人将被<b>处刑</b>。
  p 因为村人们不是道谁是人狼，白天的商谈人狼们和村人们是混杂在一起的。人狼阵营的人，会将谈话向对人狼有利的方向引导。
  p 投票结束后将进行处刑，接着就是<b>第二天夜里</b>。此后将不断重复昼夜，直到游戏结束。
  p 像这样，每天夜里（被人狼杀死）与白天（被村人处刑）不断重复在减少人数，直到某一方的胜利条件达成了，即宣告游戏结束。
  p 死掉的人，基本上就只能看着游戏继续进行下去了，不能够再参与村子里的讨论。但是，死亡并不意味着败北，即使自己死了如果自己的阵营取胜了，自己也能胜利，所以一直观战到最后吧。
  
  h2 职业
  p 人狼游戏的每一名参加者都会被分配一个<b>职业</b>。游戏开始时就能获知自己的职业。
  p 各个职业都持有各自不同的能力。以下将介绍一些常见的职业。
  h3 村人阵营的职业
  p <b>村人阵营</b>的职业是村人的同伴，以根绝人狼为目的进行游戏。在白天的谈话中一般如前述以村人的立场看待问题，村人阵营的人一般是不说谎的。明明是村人还说谎的话对村人阵营是十分不利的<small>（リア狂）</small>扰乱推理的，十分严重的不良行为<small>（然而，村人撒谎反而对村人阵营有利的例外情况也是存在的）</small>。
  p 第一个讲解的职业是一般的<b>村人</b>。这个职业没有特别的能力，只是为了村人阵营的胜利而协力，<strong>向他人投票将其处死</strong>这样的事情。为了推理与判断而生。
  p 顺便一提，在说到「村人」一词的时候，可能有有「参加者全员」、「村人阵营的人」与职业名的「村人」这三种意思，请注意语境进行区别。
  
  hr

  p <b>占卜师</b>是向胜利做出最直接贡献的人。在夜间可以选择一人进行占卜，判断其是否为人狼。
  p 占卜师一般会向村民们CO<small>(coming out;出柜;跳占)</small>公布占卜结果，将村子向对村人有利的方向引导。
  p 但是必须注意，跳占的不一定是真占。后述的人狼阵营的人为了引起村民的混乱假冒占卜师跳占的可能性也很高。普通人由于无法简单的判断占卜师的真伪，请冷静的判断完成自己的使命。
  p 除此之外，占卜师还有咒杀妖狐（后述）的能力。
  hr
  
  p <b>灵能者</b>是判断<strong>被处刑杀死</strong>的人是否是人狼的职业。由于夜间人狼袭击的人一定是村人，灵能者可以把握现在活着的人中有几名人狼。
  p 前述的有复数人跳占的时候，确认其真假正是灵能者大显身手的机会。
  hr
  
  p <b>猎人</b>能够在夜间选择一个人进行守护，使其免遭人狼侵害，成功护卫的情况一般称为GJ<small>(Good Job)</small>。
  p 人狼因为害怕被占卜师占卜二袭击占卜师的时候；前述的灵能者判断跳占真假时，人狼阵营为了阻止这一判断成功而袭击灵能者的时候。猎人是在这些时候确保占卜师、灵能者的生存，向对村子有利的方向推动游戏的职业。
  hr
  
  p <b>共有者</b>一般为两人。共有者能够辨认其他共有者，夜间共有者之间能够进行对话。
  p 因为共有者能够互相确认，2人CO的时候几乎是确定白<small>（白：不是人狼而是村人。确定白即有决定性证据证明不是人狼）</small>。
  p 之所以这么说，是因为伪装成共有者需要人狼阵营有两人同时这么做，这样风险很高，可以认为基本不会发生。
  
  h3 人狼阵营的职业
  p 人狼阵营的目的是扰乱村子的推理以减少村民人数。那么在谈话中说谎简直是理所当然的事。
  p <b>人狼</b>正如前述是袭击村人的职业。人狼能够在夜间袭击并杀死一个村人。这是人狼减少村人人数的最直接手段。此外，在白天的处刑中尽量处死村人也是重要的手段。
  p 人狼有两人以上的时候，每天夜里也只能杀死一人。为此，人狼们会在夜间就「杀死谁」这一问题展开讨论。
  hr
  
  p 人狼阵营的其他职业都是<b>狂人</b>或者狂人的变种。这些人虽然是村人，却以人狼的胜利为目标推进游戏。
  p 占卜师和灵能者会将狂人判断为村人。狂人们会善用这一特性创造有利条件。经常会跳占<small>（跳占给出假的占卜结果）</small>和跳灵能来扰乱村民的视线。
  p 狂人在本质上来讲是村人，在人狼进行胜利判定时也会被记为村人，例如「普通村人2人、狂人1人、人狼2人」这样的5人生存的时候，虽然人狼阵营十分有优势，但是游戏不会直接结束。
  p 虽说这时候一般会PP<small>（power play: 人狼侧的合计票数过半，人狼与狂人联合强行票死村人）</small>，相应的村人只好GG。
  
  h3 妖狐
  p <b>妖狐</b>这一职业，是既不属于村人侧也不属于人狼侧的<strong>第三阵营</strong>，会遭到人狼与村人两房的合力狙杀。按照一般的规则妖狐是只有一人的。
  p 妖狐与人狼的目的同样是支配村子，妖狐的胜利条件是<b>生存下去直到村人与人狼一方获胜为止</b>。例如，妖狐生存，但是人狼全灭的时候，妖狐将获得胜利。这将导致村人的败北，因此村人在全灭人狼之前一定要先干掉妖狐。
  p 此外，妖狐在胜利判定的时候既不记为村人，也不记为人狼。这一事实关系到了人狼的胜利判定。人狼的胜利条件是「村人的人数小于人狼的人数」，例如，参加者人生存，其中村人2人，人狼2人，妖狐1人的时候，妖狐不会被记为任何一方，游戏将因此得出胜负（妖狐胜利）。

  p 杀死妖狐的手段有两个。其一为<b>「处刑」</b>，其二为「咒杀」。咒杀是指占卜师占卜了妖狐之后，导致妖狐死亡。这正是在有妖狐的村子里，占卜师的一个重要作用<small>（不止如此，由于妖狐对人狼侧来说是十分碍事的存在，人狼反过来因此不去袭击占卜师的可能性也是有的）</small>。
  p 另外，咒杀是判断占卜师真伪的有效方法。由于假的占卜师无法实施咒杀，所以一旦确定了复数占卜师中是谁咒杀了妖狐，这个占卜师的真伪就能够确定了。
  p 人狼袭击妖狐的场合下，妖狐是<strong>不会死的</strong>（平安夜）<small>（平安夜：到了早上没有人死亡。会在妖狐被咬的时候、猎人GJ的时候、人狼袭击人狼的时候出现）</small>。
  p 成为妖狐的时候，尽量不被占卜，不被处刑努力地活到最后吧。此外，由于人狼是咬不死妖狐的，人狼自爆指认妖狐的可能性也是有的，可能的话还是尽量避开这种情况。
  
  h2 其他
  p 接下来介绍一下其他需要知道的事项。
  h3 替身君
  p <b>替身君</b>是按照房间设定混入参加者中的NPC。
  p 「第一天夜里就被人狼杀死的人，只能干看着游戏发展实在是太可怜了」，替身君基于这种考虑作为第一夜的牺牲者诞生的。
  p 因此，替身君默认情况下是不能成为人狼或妖狐的（占卜师、灵能者、狂人等等人狼与妖狐以外的职业，替身君则可能出现，考虑到这一点进行推理是十分有必要的）。
  
  p 规则的阅读到此结束，接下来请阅读<a href="/manual/welcome">人狼入门</a>加入游戏吧。
