section.jobmanual
  h1 策士
  p 「Twitter人狼」中登场的角色。可以策反狂人。
  h2 特殊能力
  p 第二天以后，夜晚可以选择一个人，如果此人是村人阵营以外的人，将策反他，把他的胜利条件改变为「村人阵营胜利」。
  p 但是，如果选择了人狼系（除了狂人狼）或吸血鬼的场合下，会被反杀。
  p 特别地，策士被圣职者守护的情况下会触发免死而不会死亡，但是策反行动不会成功。
  p 被策反的一方不会知道策士是谁。
  p 被策反的一方如果<strong>不是</strong>村人阵营的人，被策反的一方能够知道自己被策反了。
  p 被策反的一方如果<strong>是</strong>村人阵营的人，策反会失败。
  p 此外，策士本身无法得知策反行动是否成功了。
  h2 胜利条件
  p 村人阵营的胜利

