section.jobmanual
  h1 贪婪的狼
  p 「Twitter人狼」中存在的职业。人狼的一种。
  h2 特殊能力
  p 基本上和人狼相同。
  p 游戏中<strong>只限一次</strong>，为了满足自己的贪欲一夜之间可以多袭击一个人。
  p 这时，如果人狼的袭击对象没有全部死去的话，贪婪的狼自己会死去。
  p 夜间人狼们会按照当晚<strong>发动</strong>袭击的顺序<strong>执行</strong>袭击，一旦某个被袭击的对象没有死，整个袭击序列将被终止，同时贪婪的狼会被反噬而死。
  p 例如：A、B两人按照顺序被人狼袭击。如果A没有死的话，只有贪婪的狼死去，B不会受到袭击；如果A死了，但B没有死，贪婪的狼与A一同死去；如果A、B都死去了，贪婪的狼不会死去。
  p 在「为狼之子复仇」或者复数「贪婪的狼」同时发动技能的时候，人狼将在能够在夜间发动 3 次或更多袭击。此时同样的，一旦某次袭击的对象没有死，整个袭击序列将被终止。
  p 如果有复数「贪婪的狼」同时发动技能，袭击失败时，只有最后一名发动技能的「贪婪的狼」会被反噬而死。
  h2 胜利条件
  p 人狼阵营的胜利

