section.jobmanual
  h1 巫女
  p 「Twitter人狼」中存在的职业。村人侧。
  h2 特殊能力
  p 游戏中<strong>只限一次</strong>，可以在夜里使用神圣的力量守护自己。
  p 使用神圣的力量守护自己之后，从守护自己的当天夜晚开始，直到次日天黑处刑结束为止，在任何情况下可以免死任意次。此时只有硬汉人狼能与巫女同归于尽。
  p 次日夜晚开始，巫女会按照一般的流程死亡。
  p 巫女免死的时候不会有任何提示。
  h2 胜利条件
  p 村人阵营的胜利。

