section.jobmanual
  h1 威吓的狼
  p 「Twitter人狼」中存在的职业。人狼的一种。
  h2 特殊能力
  p 基本上与人狼相同。
  p 游戏中<strong>只限一次</strong>，在白天选择一个人进行威吓。
  p 被威吓的人当晚的能力无效化（包括「被诅咒者」、「恶魔」、「玛丽」等被动能力）。
  p 但是，使用威吓的白天如果威吓的狼被处刑而死，那么威吓无效。
  p 特别的，就算威吓了变态杀人狂，威吓的狼也不会死。
  h2 胜利条件
  p 人狼阵营的胜利

