section.jobmanual
  h1 硬汉人狼
  p 「Twitter人狼」中存在的职业。人狼的一种。
  h2 特殊能力
  p 基本上与人狼相同。
  p 游戏中<strong>只限一次</strong>，「抱着同归于尽的觉悟」袭击目标，被这样袭击的对象一定会死（包括但不限于「妖狐」、「恶魔」、「逃亡者」、「被各种力量守护的对象」）。
  p 但是，在这样的场合下，硬汉人狼会同归于尽。
  p 特别的，如果人狼们袭击了复数对象的时候硬汉人狼发动了技能，则视为硬汉人狼「抱着同归于尽的觉悟」袭击了所有目标。
  h2 胜利条件
  p 人狼阵营的胜利

